/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/ 
/*фон*/
body {
background-color: cyan;
}
.block {
    background-color: coral;
    height: 85px;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}
.img_block {
 display: flex;
}
.img_box img{
    width: 250px;
    height: 300px;
    border: 1px solid black;
    margin: 50px 0px 0px 50px;
    transition: all 1s;
}
.button_1 {
    display: flex;
}
.bt_1 {
    font-size: 25px;
    margin: 15px 10px 0px 125px;
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 15px;
    border: 1px solid black;
    transition: 300ms;
}
.bt_2 {
    font-size: 25px;
    margin: 15px 10px 0px 195px;
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 15px;
    border: 1px solid black;
    transition: 300ms;
}
.bt_3 {
    font-size: 25px;
    margin: 15px 10px 0px 175px;
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 15px;
    border: 1px solid black;
    transition: 300ms;
}
.bt_4 {
    font-size: 25px;
    margin: 15px 10px 0px 200px;
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 15px;
    border: 1px solid black;
    transition: 350ms;
}
.bt_5 {
    font-size: 25px;
    margin: 15px 10px 0px 200px;
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 15px;
    border: 1px solid black;
}
.bt_1:focus{
    transform: scale(1.2);
    background-color: red;
}
.bt_2:hover{
    background-color: red;
    transform: scale(1.2);
}
.bt_3:hover{
    transform: scale(1.2);
    background-color: red;
}
.bt_4:focus{
    transform: scale(1.2);
    background-color: red;
}
.bt_5:hover{
    transform: scale(1.2);
    background-color: red;
}
.img_box img:hover {
    transform: scale(1.1);
}